@use "@cssUtils" as u;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.control {
  background-color: var(--ver-gray-96);
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  padding-bottom: 0;

  @include u.at-desktop {
    padding: 32px 40px;
    position: absolute;
    flex-direction: column;
    bottom: 0;
    left: 0;
  }
}

.button {
  border-radius: 100%;
  border: 1px solid var(--ver-white);
  margin-bottom: var(--ver-spacing-s);
  width: 40px;
  height: 40px;

  @include u.at-desktop {
    width: 56px;
    height: 56px;
  }
}

.play {
  width: inherit;
  height: inherit;
}

.time {
  font-family: "Robot Mono", sans-serif;
  color: var(--ver-white);
  text-align: center;
}

.playButton {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 56px;
  height: 56px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--ver-white);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pause {
  border-left: 3px solid var(--ver-white);
  border-right: 3px solid var(--ver-white);
  height: 40px;
  width: 16px;

  animation: 2s infinite rotate reverse linear;
}

.heroButton {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 56px;
  height: 56px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  border-top: 1px solid var(--ver-white);
  border-right: 1px solid var(--ver-white);
  border-bottom: 1px solid var(--ver-purple-50);
  border-left: 1px solid var(--ver-purple-50);
  animation: 2s infinite rotate linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropshadow {
  width: 100%;
  position: absolute;
  height: 200px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(0, 0, 0, 0.5) 100%
  );
  bottom: 0;
}
