.body1 {
  font-size: var(--ver-font-size-body-1);
  font-weight: var(--ver-font-weight-normal);
  line-height: 1.332;
}

.body2 {
  font-size: var(--ver-font-size-body-2);
  font-weight: var(--ver-font-weight-normal);
  line-height: 1.2;
}

.body3 {
  font-size: var(--ver-font-size-body-3);
  font-weight: var(--ver-font-weight-normal);
  line-height: 1.55;
}

.body4 {
  font-size: var(--ver-font-size-body-4);
  font-weight: var(--ver-font-weight-normal);
  line-height: 1.5;
}

.body5 {
  font-size: var(--ver-font-size-body-5);
  font-weight: var(--ver-font-weight-normal);
  line-height: 1.43;
}

.heading1 {
  font-size: var(--ver-font-size-heading-1);
  font-weight: var(--ver-font-weight-normal);
  line-height: 0.87;
}

.heading2 {
  font-size: var(--ver-font-size-heading-2);
  font-weight: var(--ver-font-weight-normal);
  line-height: 1.07;
}

.heading3 {
  font-size: var(--ver-font-size-heading-3);
  font-weight: var(--ver-font-weight-normal);
  line-height: 1.23;
}

.heading4 {
  font-size: var(--ver-font-size-heading-4);
  font-weight: var(--ver-font-weight-normal);
  line-height: 1.25;
}

.heading5 {
  font-size: var(--ver-font-size-heading-5);
  font-weight: var(--ver-font-weight-bold);
  line-height: 1.33;
}
