@use "@cssVars" as v;
@use "@cssUtils" as u;

.base {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--ver-spacing-xs);
  align-items: flex-start;
  font-family: AlianceRegular, sans-serif;

  @include u.at-desktop {
    margin: 0 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.overflow {
  margin: auto;
  max-width: calc(v.$containerWideWidthPx + 30px);
}

.normal {
  margin: auto;
  max-width: calc(v.$containerWidthPx + 30px);
}

.withCta {
  @media screen and (min-width: 1280px) {
    max-width: 70%;
    flex-grow: 1;
  }
}
