:root {
  --ver-purple-100: #170f43;
  --ver-purple-90: #241960;
  --ver-purple-80: #32257e;
  --ver-purple-70: #43349b;
  --ver-purple-60: #5644b8;
  --ver-purple-50: #5f49da;
  --ver-purple-40: #806cf2;
  --ver-purple-30: #ab9cff;
  --ver-purple-20: #cfc6ff;
  --ver-purple-10: #f3f1ff;

  --ver-black: #000000;

  --ver-gray-96: #0a090b;
  --ver-gray-80: #323135;
  --ver-gray-60: #63626a;
  --ver-gray-40: #96959d;
  --ver-gray-20: #cbcace;
  --ver-gray-10: #e5e4e7;
  --ver-gray-6: #efeff0;
  --ver-gray-2: #fafafa;

  --ver-white: #ffffff;

  --ver-error: #fb7872;
}
