@use "@@theme/colors";
@use "@@theme/typography";
@use "@@theme/spacing";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  appearance: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--ver-gray-2);
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

:root {
  --ver-transition-normal: 150ms ease-in;
}

.hero-video {
  video {
    height: 100vh !important;
  }
}
