.full {
  width: 100%;
}

.overflow {
  margin: auto;
  max-width: 1328px;
  width: 100%;
  padding: 0 var(--ver-spacing-m);

  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}

.normal {
  margin: auto;
  max-width: 1202px;
  width: 100%;
  padding: 0 var(--ver-spacing-m);

  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}
