@use "@cssVars" as v;
@use "@cssUtils" as u;

$desktopSpacing: var(--ver-spacing-m);

.backgroundSpacer {
  height: v.$navBarHeightPx;
  background: transparent;

  @include u.at-desktop {
    height: calc(v.$navBarHeightPx + $desktopSpacing);
  }
}

.container {
  height: v.$navBarHeightPx;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;

  @include u.at-desktop {
    top: $desktopSpacing;
  }
}

.content {
  height: v.$navBarHeightPx;
  padding: var(--ver-spacing-xs) var(--ver-spacing-xs) var(--ver-spacing-xs)
    var(--ver-spacing-m);
  background-color: var(--ver-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include u.at-desktop {
    max-width: v.$containerWideWidthPx;
    margin: auto;
  }
}

.verityLogo {
  flex-shrink: 0;
  margin-right: auto;
}

.mobileMenuIcon {
  cursor: pointer;
}

.navigationWrapper {
  display: flex;
  gap: var(--ver-spacing-xs);
}

.floatingSubMenu {
  position: absolute;
  min-width: 200px;
  min-height: 200px;
  top: 70px;
  background-color: var(--ver-white);
  border-end-end-radius: 4px;
  padding: var(--ver-spacing-xl);

  transition: left 0.3s ease-out, transform 0.3s ease-out, width 0.3s ease-out;
  transform-origin: top center;

  display: flex;
  flex-direction: column;
  gap: var(--ver-spacing-xl);

  &::before {
    width: 100%;
    height: 30px;
    content: "";
    position: absolute;
    left: 0;
    top: -30px;
  }
}

.link {
  text-decoration: none;
  color: var(--ver-gray-96);
  font-size: 13px;
  font-family: "Roboto Mono";
}

.mobileMenuContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: v.$navBarHeightPx;
  bottom: 0;
  background-color: red;
  z-index: 999;
  padding: 56px 16px 16px;
  background-color: var(--ver-gray-2);
}

.mobileMenu {
  height: 100%;
  padding: var(--ver-spacing-m);
  background-color: var(--ver-white);
  display: flex;
  flex-direction: column;
  gap: var(--ver-spacing-xl);
}

.mobileMenuItem {
  font-family: "Roboto Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 184.615% */
  letter-spacing: 1.04px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--ver-gray-96);
  cursor: pointer;
}

.mobileMenuSection {
  display: flex;
  align-items: center;
  gap: var(--ver-spacing-xs);
}

.active {
  transform: rotate(90deg);
}

.mobileSubMenu {
  padding-top: var(--ver-spacing-xl);
  padding-left: var(--ver-spacing-xl);
  display: flex;
  flex-direction: column;
  gap: var(--ver-spacing-xl);
}

.mobileSubMenuItem {
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  text-transform: none;
}

.mobileMenuButtonItem {
  margin-top: auto;
}
